@import '../styles/fonts.css';
@import '../styles/tailwind.css';
@import '../styles/theme.css';

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

section[id] {
  scroll-margin-top: 6rem;
}
